* {
  box-sizing: border-box;
  margin: auto;
}

.text {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #c52525;
}

.text::first-letter {
  font-family: 'Shrikhand', cursive;
  color:green;
  font-size: 30px;
}

.site-navigation {
  margin: auto;
  font-family: Roboto, sans-serif;
}

.site-navigation li {
  float: left;
}

.site-navigation a {
  display: block;
  padding: 0 10px;
  font-size: 20px;
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: #03a9f4;
}

.site-navigation a:focus {
  color: #FF4081;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}
.h1 {
  max-width: 300px;
  border-bottom: 3px solid green;
  text-align: center;
}
li {
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
 }
.masthead {
  float: right;
  margin-right: 5px;
float: right;
position: relative;
}
.item{
  width: 100%;
  }
  .item {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: left;
  }
  .utem{
     width: 100%; 
  }
  .utem {
      width: 27%;
      display: flex;
      flex-direction: column;
      float: left;
  }
  .button {
    opacity: 0.7;
    border: 1px;
    padding: 10px;
    height: 100px;
    width: 100px;
    top: 100px;
}
.span {
  max-width: 1000px;
}
.span {
  width: 650px;
    display: flex;
    flex-direction: column;
    float: left;
}
.img {
  width: 100%;
}
.img {
  width: 30%;
}