* {
    margin: 30px; 
 }
 #text {
 margin:10px;
 }
 .p {
     opacity: 0.5;
 }
 .photo {
     text-align: center;
 }
 .item{
 width: 100%;
 }
 .item {
 display: flex;
 flex-direction: column;
 width: 50%;
 float: left;
 margin: 10px;
 }
 .utem{
    width: 100%; 
 }
 .utem {
     width: 38%;
     display: flex;
     flex-direction: column;
     float: left;
     margin: 10px;
 }
 .button {
     text-align: center;
     max-width: 200px;
     border: 1px solid #000000;
     padding: 10px;
 }